<header class="header">
  <div class="container">
    <img
      src="{{ site.baseurl }}{{ include.logo_path | default: '/assets/i18n_ally_logo.svg' }}"
      class="logo"
      alt="i18n ally + PS"
    />

    <a href="#" class="mb-burger">
      <span>menu</span>
    </a>

    <nav class="header-navigation">
      <ul>
        {% for item in site.data.index.navigation %}
        <li><a href="{{item.url}}">{{item.title}}</a></li>
        {% endfor %}
        <li><a class="js-install-btn" data-ui-source="homepage-topnav" href="https://plugins.jetbrains.com/plugin/17212-i18n-ally">Install</a></li>
      </ul>
    </nav>
  </div>
</header>
