<section class="section hero">
  <div class="container">
    <header class="hero-header">
      <h1 class="headline align-center">{{ site.data.index.hero.title }}</h1>
      <p>{{ site.data.index.hero.subtitle }}</p>
    </header>

    <div class="hero-cta">
      <a id="cta-download-extenstion--homepage-hero" 
        class="js-install-btn button button--green"
        data-ui-source="homepage"
        href="https://plugins.jetbrains.com/plugin/17212-i18n-ally">{{ site.data.index.hero.button }}</a>
      <span class="hero-footnote">{{ site.data.index.hero.footnote }}</span>
    </div>

    <div class="hero-explain">
      <span>{{ site.data.index.hero.why_title }}</span>
      <p>{{ site.data.index.hero.why_text }}</p>
    </div>
  </div>
</section>
