.configuration {
  padding: 94px 0 62px;
}

.configuration .subheadline {
  margin-bottom: 20px;
}

.configuration-items {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.configuration-item {
  width: 25%;
  padding: 39px 0;

  text-align: center;
}

@media print, screen and (max-width: 960px) {
  .configuration {
    padding-top: 57px;
    padding-bottom: 40px;
  }

  .configuration-item {
    width: 50%;
    padding: 20px 10px;

    text-align: center;
  }

  .configuration-item img {
    max-width: 100%;
    max-height: 32px;
  }
}
