.supports {
  padding: 90px 0;

  background-color: #000;
}

.supports-image {
  width: 100%;
  max-width: 891px;
  margin: 0 auto;

  background-image: url("/assets/supports-desktop.svg");
}

.supports-image::before {
  display: block;

  padding-bottom: 17.2839506173%;

  content: "";
}

@media print, screen and (max-width: 960px) {
  .supports {
    padding-top: 55px;
    padding-bottom: 60px;
  }

  .supports-image {
    max-width: 232px;

    background-image: url("/assets/supports-mobile.svg");
    background-size: 100%;
  }

  .supports-image::before {
    padding-bottom: 198.7068965517%;
  }
}
