<section class="section configuration">
  <div class="container">
    <h2 class="subheadline align-center">
      {{ site.data.index.configuration.title }}
    </h2>
    <div class="configuration-items">
      <div class="configuration-item">
        <img src="/assets/homepage-vue-i18n/vue-autoconfig-logo.svg" style="width: 100%; max-height: none;" />
      </div>
      <div class="configuration-item">
        <img src="/assets/homepage-vue-i18n/nuxt-autoconfig-logo.svg" style="width: 75%; max-height: none; padding-top: 5%;" />
      </div>
    </div>
  </div>
</section>
