<section class="section hero">
  <div class="container">
    <header class="hero-header">
      <h1 class="headline align-center">Extract hardcoded strings from Vue templates</h1>
      <p>
        i18n Ally is a plugin that makes internationalization easy.<br>
        Skip copy-pasting and ad-hoc regexes, leverage automatic string extraction, and save time for things that matter.
      </p>
    </header>

    <div class="hero-cta">
      <a class="js-install-btn button button--green"
        data-ui-source="homepage"
        href="https://plugins.jetbrains.com/plugin/17212-i18n-ally"
      >
        Plugin for JetBrains IDEs
      </a>
    </div>

    <div class="hero-cta">
      <a class="js-install-btn button button--green"
        data-ui-source="homepage"
        href="https://marketplace.visualstudio.com/items?itemName=lokalise.i18n-ally"
      >
        Extension for VS Code
      </a>
    </div>
  </div>
</section>
