<section class="section plugins">
  <div class="container">
    <div class="plugins-columns">
      <h2 class="headline align-center">{{ site.data.index.plugins.title }}</h2>

      {% for item in site.data.index.plugins.items %}
      <div class="plugins-item">
        <div class="plugins-item__image">
          <img src="/assets/homepage-vue-i18n/{{item.image}}.svg" alt="{{item.title}}" />
        </div>

        <div class="plugins-item__text">
          <h3 class="subheadline">{{ item.title }}</h3>
          <p>{{ item.text }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
