<section class="section video">
  <div class="container">
    <div class="video-container">
      <iframe
        src="https://fast.wistia.net/embed/iframe/2zopu97o0o"
        width="640"
        height="360"
        frameborder="0"
        allow="autoplay; fullscreen"
        title="Internationalize PHP applications with i18n Ally plugin for PhpStorm Video"
        allowfullscreen
        msallowfullscreen
        allowtransparency="true"
        scrolling="no"
        class="wistia_embed"
        name="wistia_embed"
      ></iframe>
      <script src="https://fast.wistia.net/assets/external/E-v1.js" async></script>
    </div>
  </div>
</section>
