<section class="section ways">
  <div class="container">
    <h2 class="headline align-center">{{ site.data.index.ways.title }}</h2>

    <div class="ways-controls">
      <button
        type="button"
        class="ways-control--active"
        data-toggle="ways-column--left"
      >
        {{ site.data.index.ways.controlRegular }}
      </button>
      <button type="button" data-toggle="ways-column--right">
        {{ site.data.index.ways.controlAlly }}
      </button>
    </div>

    <div class="ways-columns">
      <div class="ways-column ways-column--left ways-column--active">
        <h3 class="ways-subtitle">{{ site.data.index.ways.regular }}</h3>
        <div class="ways-image">
          <img
            src="/assets/homepage/regular.png"
            alt="{{ site.data.index.ways.regular }}"
          />
        </div>
      </div>
      <div class="ways-column ways-column--right">
        <h3 class="ways-subtitle">{{ site.data.index.ways.ally }}</h3>
        <div class="ways-image">
          <img
            src="/assets/homepage/ally.png"
            alt="{{ site.data.index.ways.regular }}"
          />
        </div>
      </div>
    </div>
  </div>
</section>
