---
layout: default
title: Extract hardcoded strings from Vue templates
---

<!-- hero -->
{% include homepage-vue-i18n/hero.html %}

<!-- configuration -->
{% include homepage-vue-i18n/configuration.html %}

<!-- supports -->
{% include homepage-vue-i18n/ways.html %}

{% comment %}
    <!-- quotes -->
    {% include homepage-vue-i18n/quotes.html %}
{% endcomment %}

<!-- features -->
{% include homepage-vue-i18n/features.html %}

<!-- plugins -->
{% include homepage-vue-i18n/plugins.html %}

<!-- faq -->
{% include homepage-vue-i18n/faq.html %}
