---
layout: default
---

<!-- hero -->
{% include hero.html %}

<!-- video -->
{% include video.html %}

<!-- configuration -->
{% include configuration.html %}

<!-- supports -->
{% include supports.html %}

<!-- supports -->
{% include ways.html %} {% comment %}
<!-- quotes -->
{% include quotes.html %} {% endcomment %}

<!-- features -->
{% include features.html %}

<!-- plugins -->
{% include plugins.html %} {% comment %}
<!-- help -->
{% include help.html %} {% endcomment %}

<!-- faq -->
{% include faq.html %}

<!-- form -->
{% include form.html %}
