---
layout: default
logo_path: /assets/homepage/logo-phpstorm.png
---

<!-- hero -->
{% include homepage/hero.html %}

<!-- video -->
{% include homepage/video.html %}

<!-- configuration -->
{% include homepage/configuration.html %}

<!-- supports -->
{% include homepage/supports.html %}

<!-- supports -->
{% include homepage/ways.html %}

{% comment %}
    <!-- quotes -->
    {% include homepage/quotes.html %}
{% endcomment %}

<!-- features -->
{% include homepage/features.html %}

<!-- plugins -->
{% include homepage/plugins.html %}

{% comment %}
    <!-- help -->
    {% include homepage/help.html %}
{% endcomment %}

<!-- faq -->
{% include homepage/faq.html %}
