<section class="section features">
  <div class="container">
    <h2 class="headline align-center">{{ site.data.index.features.title }}</h2>
    <div class="features-columns">
      {% for item in site.data.index.features.items %}
      <div class="features-item">
        <div class="features-item__image">
          <img src="{{item.image}}" alt="{{item.title}}" />
        </div>
        <div class="features-item__title">{{ item.title }}</div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
