<header class="hero-header">
    <div class="hero-logo">
        <a href="{{ " /" | relative_url}}"></a>
        <img src="{{site.logo | relative_url}}" class="logo"
            alt="Logo: {{ site.title | default: site.github.repository_name }}" />
        </a>
    </div>
    <nav class="hero-links">
      {% for item in site.data.sidebar_items %}
        <div class="hero-link-item-container">
          <a class="hero-link-item" href="{{ site.baseurl }}/{{ item.path }}">{{ item.title }}</a>

          {% if item.sub_paths %}
            <ul class="hero-links-dropdown">
              {% for sub_item in item.sub_paths %}
                <li>
                  <a href="{{ site.baseurl }}/{{ item.path }}{% if item.path != '' %}/{% endif %}{{ sub_item.path }}.html">
                    {{ sub_item.title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>

        {% if forloop.last == false %}
          <span class="hero-link-item hero-link-item__divider">•</span>
        {% endif %}
      {% endfor %}

      <a class="hero-btn" href="https://plugins.jetbrains.com/plugin/17212-i18n-ally">Install</a>
    </nav>
</header>

<!--
{% for item in site.data.sidebar_items %}
<nav class="menu">
  <h3>
    <a href="{{ site.baseurl }}/{{ item.path }}"> {{ item.title }} </a>
  </h3>

  {% if item.sub_paths %}
  <ul>
    {% for sub_item in item.sub_paths %}
    <li>
      <a
        href="{{ site.baseurl }}/{{ item.path }}{% if item.path != '' %}/{% endif %}{{ sub_item.path }}.html"
      >
        {{ sub_item.title }}
      </a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</nav>

{% if forloop.last == false %}
<hr />
{% endif %} {% endfor %}
-->
