<section class="section help">
  <div class="container">
    <div class="help-columns">
      <div class="help-main">
        <header class="help-header">
          <h2 class="subheadline">{{ site.data.index.help.title }}</h2>
          <p>{{ site.data.index.help.text }}</p>
        </header>
        <div class="help-body">
          <ol class="help-list">
            {% for item in site.data.index.help.list %}
            <li>{{ item }}</li>
            {% endfor %}
          </ol>

          <div class="help-cta">
            <a class="button" href="#">{{site.data.index.help.button}}</a>
          </div>
        </div>
      </div>
      <div class="help-aside">
        <img src="/assets/help.png" alt="{{ site.data.index.help.title }}" />
      </div>

      <div class="help-footer">
        <a class="button" href="#">{{site.data.index.help.button}}</a>
      </div>
    </div>
  </div>
</section>
