<ul>
  {% for item in site.data.getting_started_items %}
    <li>
      <a href="{{ site.baseurl }}/{{ item.path }}">
        {{ item.title }}
      </a>
  
      {% if item.sub_paths %}
        <ul>
          {% for sub_item in item.sub_paths %}
            <li>
              <a href="{{ site.baseurl }}/{{ item.path }}/{{ sub_item.path }}">
                {{ sub_item.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </li>
  {% endfor %}
  </ul>
  