<section class="section ways">
  <div class="container">
    <h2 class="headline align-center">{{ site.data.index.ways.title }}</h2>

    <div class="ways-columns">
      <div class="ways-column">
        <h3 class="ways-subtitle">{{ site.data.index.ways.regular }}</h3>
        <div class="ways-image">
          <img
            src="/assets/regular.png"
            alt="{{ site.data.index.ways.regular }}"
          />
        </div>
      </div>
      <div class="ways-column">
        <h3 class="ways-subtitle">{{ site.data.index.ways.ally }}</h3>
        <div class="ways-image">
          <img
            src="/assets/ally.png"
            alt="{{ site.data.index.ways.regular }}"
          />
        </div>
      </div>
    </div>
  </div>
</section>
