<section class="section">
    <div class="container container-border-bottom">

        <h2 class="features-title">Features to try</h2>
        <p class="features-subtitle">No more copy-pasting or ad-hoc regexes</p>

        <div class="feature-list">
            <div class="feature">
                <div class="feature-img" style="background-image: url(/assets/about-embedded/feature-extract-in-bulk.svg);"></div>
                <h3 class="feature-title">Extract from the whole project, folder or file via&nbsp;Tools&nbsp;→&nbsp;Run i18n Ally inspections…</h3>
            </div>
            <div class="feature">
                <div class="feature-img" style="background-image: url(/assets/about-embedded/feature-extract-from-editor.svg);"></div>
                <h3 class="feature-title">Spot hardcoded string in editor and extract&nbsp;with&nbsp;quick&nbsp;fixes (Alt + Enter)</h3>
            </div>
            <div class="feature">
                <div class="feature-img" style="background-image: url(/assets/about-embedded/feature-navigate.svg);"></div>
                <h3 class="feature-title">
                    Jump from the editor to the language file with&nbsp;Ctrl&nbsp;+&nbsp;Click (Cmd + Click on MacOS)
                </h3>
            </div>
            <div class="feature">
                <div class="feature-img" style="background-image: url(/assets/about-embedded/feature-rename.svg);"></div>
                <h3 class="feature-title">Rename: within key call context menu and select&nbsp;Refactor → Rename (Shift + F6).</h3>
            </div>
        </div>
    </div>
</section>
