<section class="section">
    <div class="container">
        <h2 class="footer-setup-title">Explore documentation</h2>

        <div class="footer-links">
            {% assign columnsLast = site.data.sidebar_items | first %}
            {% assign columns = site.data.sidebar_items | shift | push: columnsLast %}
            {% for item in columns %}
                <div>
                    <h3 class="footer-column__title">
                        {{ item.title }}
                    </h2>
                    {% if item.sub_paths %}
                        <ul class="footer-link__list">
                            {% for sub_item in item.sub_paths %}
                                <li class="footer-link__item">
                                    <a href="{{ site.baseurl }}/{{ item.path }}/{{ sub_item.path }}.html">
                                        {{ sub_item.title }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <div class="footer-maintainer">
            Maintained by<br>
            <a href="https://lokalise.com/product/for-developers?utm_source=docs&utm_campaign=i18nally-jetbrains&utm_medium=footer">
                <div class="footer-maintainer-logo">
                    {% include about-embedded/lokalise-logo-for-universal-bg.svg %}
                </div>
            </a>
        </div>
    </div>
</section>