<section class="section">
  <div class="container container-border-bottom">
    <header class="hero-header">
      <div class="hero-logo">
        {% include about-embedded/i18n-ally-logo-universal-bg.svg %}
      </div>
      <nav class="hero-links">
        <a class="hero-link-item" href="/">Homepage</a>
        <span class="hero-link-item hero-link-item__divider">•</span>
        <a class="hero-link-item" href="/documentation">Documentation</a>
        <span class="hero-link-item hero-link-item__divider">•</span>
        <a class="hero-link-item" href="https://plugins.jetbrains.com/">Rate on marketplace</a>
      </nav>
    </header>

    <h1 class="hero-title">Get started with i18n Ally</h1>
    <p class="hero-tagline">Find and extract hardcoded strings automatically</p>
  </div>
</section>
