<section class="section hero">
  <div class="container">
    <header class="hero-header">
      <img
        src="{{ site.baseurl }}/assets/i18n_ally_logo.svg"
        class="hero-logo"
        alt="Logo: i18n Ally JetBrains plugin"
      />
      <p class="hero-tagline">{{ site.data.index.hero.subtitle }}</p>
    </header>

    <nav class="hero-links">
      <a class="hero-link" href="/">Homepage</a>
      <a class="hero-link" href="/">Documentation</a>
      <a class="hero-link" href="/">Leave feedback</a>
    </nav>
  </div>
</section>
