<section class="section">
    <div class="container container-border-bottom">
        
        <h2 id="project-setup-title-js" class="project-setup-title">Set up your project</h2>
        <p class="project-setup-subtitle">No more copy-pasting or ad-hoc regexes</p>

        <div class="step">
            <div class="step-text">
                <p class="step-subtitle">Step 1</p>
                <h3 class="step-title">Configure file project</h3>
                <p class="step-desc">Go to i18n plugin Project configurations > Add setting profile > Select language files properties.</p>
            </div>
            <video class="step-video" name="media" controls disablepictureinpicture controlsList="nodownload">
                <source src="/assets/about-embedded/project-setup-01-configure.webm" type="video/webm">
            </video>
        </div>
        <div class="step">
            <div class="step-text">
                <p class="step-subtitle">Step 2</p>
                <h3 class="step-title">Find hardcoded strings</h3>
                <p class="step-desc">Main menu, select Tools and select “Run i18n Ally inspections” to find and extract hardcoded strings.</p>
            </div>
            <video class="step-video" name="media" controls disablepictureinpicture controlsList="nodownload">
                <source src="/assets/about-embedded/project-setup-01-configure.webm" type="video/webm">
            </video>
        </div>
        <div class="step">
            <div class="step-text">
                <p class="step-subtitle">Step 3</p>
                <h3 class="step-title">Extract strings</h3>
                <p class="step-desc">In inspection results window, extract strings one by one, the whole file or folder with one button click.</p>
            </div>
            <video class="step-video" name="media" controls disablepictureinpicture controlsList="nodownload">
                <source src="/assets/about-embedded/project-setup-01-configure.webm" type="video/webm">
            </video>
        </div>
    </div>
</section>

<!-- Test video playback in JCEF -->
<template id="project-setup-video-test-js">
    <style>
        video::-webkit-media-controls-volume-slider {  display: none; }
        video::-webkit-media-controls-mute-button {  display: none; }
      </style>
      <video name="media" controls disablepictureinpicture>
        <source src="/assets/about-embedded/project-setup-01-configure.webm" type="video/webm">
      </video>
</template>
<script>
    (function () {
        const params = (new URL(document.location)).searchParams;
        if (params.get('env') != 'dev') return;

        const video = document.getElementById('project-setup-video-test-js').content.cloneNode(true);
        document.getElementById('project-setup-title-js').append(video);
    })();
</script>
