<section class="section">
    <div class="container container-border-bottom">
        
        <h2 class="project-setup-title">Set up your project</h2>
        <p class="project-setup-subtitle">Plug and play configuration for common frameworks</p>

        <div class="project-setup-tabs">
            <button type="button" class="project-setup-tab--active">
                1. Configure Project
            </button>
            <button type="button">
                2. Scan project
            </button>
            <button type="button">
                3. Extract hardcoded strings
            </button>
        </div>

        <div class="project-setup-steps project-setup-step--0-active">
            <div class="step">
                <p class="step-subtitle">Create a configuration profile via Preferences → i18n Ally Project configurations → Add profile (<b>+</b>) button.</p>
                <video class="step-video" name="media" controls disablepictureinpicture controlsList="nodownload" muted>
                    <source src="/assets/about-embedded/project-setup-01-configure.webm" type="video/webm">
                </video>
            </div>
            <div class="step">
                <p class="step-subtitle">Main menu, select Tools and select “Run i18n Ally inspections” to find and extract hardcoded strings.</p>
                <video class="step-video" name="media" controls disablepictureinpicture controlsList="nodownload" muted>
                    <source src="/assets/about-embedded/project-setup-02-scan.webm" type="video/webm">
                </video>
            </div>
            <div class="step">
                <p class="step-subtitle">In inspection results window, extract strings one by one, the whole file or folder with one button click.</p>
                <video class="step-video" name="media" controls disablepictureinpicture controlsList="nodownload" muted>
                    <source src="/assets/about-embedded/project-setup-03-extract.webm" type="video/webm">
                </video>
            </div>
        </div>
    </div>
    <script>
        (function () {
            // Start first tab video autoplay on scroll
            const videosBlock = document.querySelector('.project-setup-steps');
            const observer = new IntersectionObserver(function(entries) {
                if (entries[0].isIntersecting === true) {
                    openTab(0);
                    observer.unobserve(videosBlock);
                }
            }, { threshold: [0.9] });
            observer.observe(videosBlock);

            // Switch to the next tab on video end
            document.querySelectorAll('.step-video').forEach((video, index) => {
                video.addEventListener('ended', event => {
                    openTab(index + 1);
                });
            });

            // Open specific tab on click
            document.querySelectorAll('.project-setup-tabs > button').forEach((btn, index) => {
                btn.addEventListener('click', event => {
                    openTab(index);
                });
            });

            //
            // openTab function encapsulates all behaviour
            //
            function openTab(tabIndexInt = 0, autoplay = true) {
                const maxIndex = document.querySelectorAll('.project-setup-tabs > button').length - 1;
                if (tabIndexInt > maxIndex) {
                    tabIndexInt = 0;
                    autoplay = false; 
                }

                //
                // Switch tab
                //
                const tabActiveClass = 'project-setup-tab--active';
                document.querySelectorAll('.project-setup-tabs > button').forEach((btn, index) => {
                    if (tabIndexInt == index) {
                        btn.classList.add(tabActiveClass);
                    } else {
                        btn.classList.remove(tabActiveClass);
                    }
                });

                //
                // Switch tab content
                //
                const stepsContent = document.querySelector('.project-setup-steps');
                stepsContent.className = `project-setup-steps project-setup-step--${tabIndexInt}-active`;

                stepsContent.querySelectorAll('.step-video').forEach((video, index) => {
                    video.pause();
                    video.currentTime = 0;

                    if (tabIndexInt == index && autoplay) {
                        video.play();
                    }
                });
            }
        })();
    </script>
</section>
