<section class="section sandbox-cta">
    <div class="container sandbox-cta-block">
        <p class="sandbox-cta-subtitle">Sandbox project for quick evaluation</p>
        <div class="container sandbox-cta-title-container">
            <p class="sandbox-cta-title">Try plugin's features in a preconfigured environment.</p>
            <button id="sandbox-cta-btn-js" class="sandbox-cta-btn">Open Sandbox</button>
        </div>
    </div>
    <script>
        (function() {
            document.getElementById('sandbox-cta-btn-js').addEventListener('click', function (event) {
                window.runEvent('openSandbox');
            });
        })();
    </script>
</section>
