---
---

:root {
    --main-bg-color: #2A2C2E;
    --main-text-color: rgb(187, 187, 187);
    --secondary-text-color: rgba(187, 187, 187, 0.72) ;
    --secondary-divider-color: rgba(187, 187, 187, 0.16);
    --main-link-color: #589CF4;
    --main-btn-color: #365880;
    --main-scroll-color: var(--secondary-divider-color);
    --main-fontui: -apple-system, system-ui, ui-sans-serif, sans-serif;
    --main-fontcode: monospace;
}

@mixin placeholder-bg {
    background-color: rgba(136, 136, 136, 0.25);
}

@mixin block_subtitle {
    margin-bottom: 1.25rem;
}

@mixin block_title {
    color: var(--main-text-color);
    font-size: 1.38rem;
    line-height: 1.84rem;
    font-weight: normal;
    margin: 0;
}

@mixin svg-icon($name, $icon-size: 1.5em) {
    display: inline-block;
    content: ' ';
    background-image: url('/assets/about-embedded/icon-' + $name + '.svg');
    background-size: $icon-size $icon-size;
    height: $icon-size;
    width: $icon-size;
    vertical-align: text-bottom;
    margin-right: 0.5em;
}
  

@import "about-embedded/hero.scss";
@import "about-embedded/sandbox-cta.scss";
@import "about-embedded/features.scss";
@import "about-embedded/project-setup.scss";
@import "about-embedded/footer.scss";

html {
    font-size: 13px;
}

body {
    margin: 0;

    color: var(--secondary-text-color);
    background-color: var(--main-bg-color);

    font: 400 13px/18px var(--main-fontui);

    -webkit-font-smoothing: antialiased;
}
 
html::-webkit-scrollbar {
    width: 8px; 
 }

html::-webkit-scrollbar-track {
  background-color: var(--main-bg-color);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--main-scroll-color);
  border-radius: 8px;
}

* {
    box-sizing: border-box;
}

a {
    color: var(--main-link-color);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

button {
    color: var(--main-text-color);
    background-color: var(--main-btn-color);
    font-weight: 600;
    border-radius: 2px;
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;
}

p {
    margin-top: 0;
}

pre {
    font-family: var(--main-fontcode);
}

.wrapper {
    padding-top: 1.84rem;
    width: 100%;
}

.section {
    min-width: 599px;
    padding: 0 1.84rem 3.07rem;
}

.container {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    padding-bottom:  3.07rem;
}

.container-border-bottom {
    border-bottom: 1px solid var(--secondary-divider-color);
}

video::-webkit-media-controls-volume-slider {  display: none; }
video::-webkit-media-controls-mute-button {  display: none; }
