---
---

@import "about-embedded/hero.scss";
@import "about-embedded/sandbox-cta.scss";
@import "about-embedded/footer.scss";

html {
    font-size: 13px;
}

body {
    margin: 0;

    color: #1D1D1D;
    background-color: #ECECEC;

    font: 400 13px/20px -apple-system, system-ui, ui-sans-serif, sans-serif;

    -webkit-font-smoothing: antialiased;
}
 
html::-webkit-scrollbar {
    width: 10px; 
 }

html::-webkit-scrollbar-track {
  background-color: #ECECEC;
}

html::-webkit-scrollbar-thumb {
  background: #C4C4C4;
  border-radius: 25px;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

p {
    margin-top: 0;
}

.wrapper {
    width: 100%;
}

.section {
    padding: 32px;
}

.container {
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
}