---
---

@import "fonts";

@import "homepage/header";
@import "homepage/footer";
@import "homepage/hero";
@import "homepage/video";
@import "homepage/supports";
@import "homepage/configuration";
@import "homepage/ways";
@import "homepage/quotes";
@import "homepage/features";
@import "homepage/plugins";
@import "homepage/help";
@import "homepage/faq";

body {
  margin: 0;

  color: #fff;
  background-color: #2b2b2b;

  font: 400 20px/30px "GraphikLCTT", Arial, Helvetica, sans-serif;

  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
}

.section {
  padding-left: 51px;
  padding-right: 51px;
}

.section:nth-child(even) {
  background-color: #000;
}

.highlight {
  margin-right: 0;
  margin-left: 0;
}

.container {
  max-width: 1290px;
  width: 100%;
  margin: 0 auto;
}

.video-container {
  position: relative;

  overflow: hidden;

  width: 100%;
}

.video-container::after {
  display: block;

  padding-top: 56.25%;

  content: "";
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.headline {
  max-width: 690px;
  margin: 0;
  font-size: 65px;
  line-height: 75px;

  font-weight: 600;
}

.subheadline {
  margin: 0;

  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
}

.align-center {
  margin: 0 auto 60px;

  text-align: center;
}

.button {
  display: inline-block;

  min-width: 160px;
  height: 60px;
  padding: 0 30px;

  text-align: center;
  text-decoration: none;

  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.5);

  font-size: 16px;
  font-weight: 600;
  line-height: 60px;
}

.button:hover {
  color: #b9b546;
  border-color: #b9b546;
}

.button--green {
  color: #000;
  background-color: #b9b546;
  border-width: 0;
}

.button--green:hover {
  color: #000;
  background-color: #8f8c40;
}

.wrapper p a {
  color: inherit;
  text-decoration: underline;
}

.wrapper p a:hover {
  color: #b9b546;
}

@media print, screen and (max-width: 960px) {
  .headline {
    font-size: 30px;
    line-height: 40px;
  }

  .subheadline {
    font-size: 25px;
    line-height: 30px;
  }

  .section {
    padding-left: 25px;
    padding-right: 25px;
  }

  .button {
    height: 50px;
    line-height: 50px;
    min-width: 135px;
    font-size: 13px;
    line-height: 48px;
  }

  .footer {
    height: 194px;
  }

  .footer span {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 13px;
  }
}
