---
---

@import "{{ site.theme }}";
@import "fonts";

body {
  width: 100%;
  margin: 0;
  padding-top: 25px;

  color: rgba(190, 190, 190, 1);
  background-color: #2b2b2b;

  font-family: "GraphikLCTT", Arial, Helvetica, sans-serif;
  font-weight: 400;

  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

.highlight {
  margin-left: 0;
  margin-right: 0;
  background-color: transparent;
}

.highlight pre {
  border-width: 0;
  filter: invert(1);
}

.highlight code {
  color: #000;
}

.wrapper {
  width: 1200px;
}

section a {
  text-decoration: underline;
  color: #fff;
}

section a:hover {
  font-weight: inherit;
  color: #b9b546;
}

section {
  width: 840px;
}

h1,
h2,
h3,
code,
strong {
  color: #fff;
}

a {
  color: #b9b546;
}

a:hover {
  color: #8f8c40;
}

aside {
  width: 270px;
  float: left;
  -webkit-font-smoothing: subpixel-antialiased;
}

aside nav.menu ul {
  height: auto;
  background: transparent;
  border-radius: 0;
  border: 0 none;
  width: auto;
  padding-left: 0;
}

aside nav.menu ul li {
  width: auto !important;
  float: none;
  border: 0 none;
  height: auto;
  margin-bottom: 5px;
  display: block;
}

aside nav.menu li:last-child a {
  border-radius: 0 none;
}

aside nav.menu ul li a {
  font-size: 1rem;
  text-align: left;
  display: inline;
  height: auto;
  margin-top: 6px;
  padding-top: 0;
  color: rgba(190, 190, 190, 1);
}

aside nav.menu ul li a:hover {
  font-weight: normal;
  text-decoration: underline;
  color: #8f8c40;
}

aside nav.menu ul li a:active {
  font-weight: normal;
  text-decoration: none;
  color: #8f8c40;
}

aside nav.menu ul li span {
  font-size: 1rem;
}

aside nav.menu ul li .active {
  font-weight: 600;
  margin-top: 6px;
  line-height: 1;
}

aside nav.menu ul li a:active {
  background: transparent;
}

footer {
  clear: both;
  position: static;
  width: auto;
  bottom: 0;
  float: none;
  padding-top: 2em;
  padding-bottom: 5em;
}

footer a {
  display: block;
  margin-top: 10px;
  width: 135px;
}

.logo {
  max-width: 250px;
  width: 100%;
  height: auto;
}

nav.index {
  font-size: 1rem;
}

aside nav.menu > ul > li {
  margin-bottom: 1em;
}

aside nav.menu ul.sub_menu {
  padding-left: 1em;
  margin-top: 5px;
  margin-bottom: 0;
}

@media print, screen and (max-width: 1280px) {
  .wrapper {
    width: 100%;
  }

  section {
    width: 70%;
  }

  aside {
    width: 25%;
  }
}

@media print, screen and (max-width: 960px) {
  .wrapper {
    width: 100% !important;
  }

  section {
    width: 100%;
    float: none;
  }

  aside {
    width: 100%;
    float: none;
    padding-right: 0;
  }

  aside nav ul {
    position: static;
    right: 0;
    top: 0;
  }
}

code {
  white-space: pre;
}

.video-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-bottom: 1em;
}

.video-container::after {
  padding-top: 56.25%;
  display: block;
  content: "";
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.hero-header {
  width: 100%;
  float: none;
  display: block;
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2.61rem;
}

.hero-logo {
  width: 200px;
  height: auto;
}

.hero-links {
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.hero-link-item {
  color: #bebebe;
  margin-left: 0.61rem;
}

.hero-link-item:hover {
  font-weight: normal;
  text-decoration: underline;
  color: #8f8c40;
}

.hero-link-item__divider {
  opacity: 0.75;
}

.hero-btn {
  display: inline-block;
  padding: 0 20px;
  text-align: center;
  text-decoration: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  color: #000;
  background-color: #b9b546;
  border-width: 0;
  margin-left: 1.2rem;
}

.hero-btn:hover {
  color: #000;
}

.hero-link-item-container {
  display: inline-block;
  position: relative;
}

.hero-links-dropdown {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  padding-top: 1rem;
  display: none;

  font-size: 1rem;
  background-color: #2b2b2b;
  border-radius: 0;
  box-shadow: 3px 6px 5px 2px #000000;
  
  float: none;
  border: none;
  height: auto;
  width: max-content;
  min-width: 100%;
  z-index: 1;

  & > li {
    width: auto;
    height: auto;
    float: none;
    border: 0;

    & > a {
      font-size: 0.9rem;
      text-align: left;
      color: #bebebe;
      padding: 0 20px;
    }
    
    & > a:hover {
      font-weight: normal;
      text-decoration: underline;
      color: #8f8c40;
    }

    & > a:active {
      font-weight: normal;
      text-decoration: none;
      color: #8f8c40;
      background-color: transparent;
    }
  }
}

.hero-link-item-container:hover > .hero-links-dropdown,
.hero-links-dropdown:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}
