---
---

@import "{{ site.theme }}";
@import "fonts";

body {
  margin: 0;

  color: rgba(190, 190, 190, 1);
  background-color: #2b2b2b;

  font-family: "GraphikLCTT", Arial, Helvetica, sans-serif;
  font-weight: 400;

  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

.highlight {
  margin-left: 0;
  margin-right: 0;
  background-color: transparent;
}

.highlight pre {
  border-width: 0;
  filter: invert(1);
}

.highlight code {
  color: #000;
}

.wrapper {
  width: 1200px;
}

section a {
  text-decoration: underline;
  color: #fff;
}

section a:hover {
  font-weight: inherit;
  color: #b9b546;
}

section {
  width: 840px;
}

header {
  position: static;
}

h1,
h2,
h3,
code,
strong {
  color: #fff;
}

a {
  color: #b9b546;
}

a:hover {
  color: #8f8c40;
}

header nav.menu ul {
  height: auto;
  background: transparent;
  border-radius: 0;
  border: 0 none;
  width: auto;
}

header nav.menu ul li {
  width: auto !important;
  float: none;
  border: 0 none;
  height: auto;
  margin-bottom: 5px;
  display: block;
}

header nav.menu li:last-child a {
  border-radius: 0 none;
}

header nav.menu ul li a {
  font-size: 1rem;
  text-align: left;
  display: inline;
  height: auto;
  margin-top: 6px;
  padding-top: 0;
  color: rgba(190, 190, 190, 1);
}

header nav.menu ul li span {
  font-size: 1rem;
}

header nav.menu ul li .active {
  font-weight: 600;
  margin-top: 6px;
  line-height: 1;
}

header nav.menu ul li a:active {
  background: transparent;
}

footer {
  clear: both;
  position: static;
  width: auto;
  bottom: 0;
  float: none;
  padding-top: 2em;
  padding-bottom: 5em;
}

footer a {
  display: block;
  margin-top: 10px;
  width: 135px;
}

.logo {
  max-width: 270px;
  width: 100%;
  height: auto;
}

nav.index {
  font-size: 1rem;
}

@media print, screen and (max-width: 1280px) {
  .wrapper {
    width: 100%;
  }

  section {
    width: 70%;
  }

  header {
    width: 25%;
  }
}

@media print, screen and (max-width: 960px) {
  .wrapper {
    width: 100% !important;
  }

  section {
    width: 100%;
    float: none;
  }

  header {
    width: 100%;
    float: none;
    padding-right: 0;
  }

  header nav ul {
    position: static;
    right: 0;
    top: 0;
  }
}

code {
  white-space: pre;
}

.video-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-bottom: 1em;
}

.video-container::after {
  padding-top: 56.25%;
  display: block;
  content: "";
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
