<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" href="{{ site.baseurl }}/{{ "assets/css/default.css?v=" | append: site.github.build_revision }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ site.baseurl }}/assets/android-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ site.baseurl }}/assets/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/favicon-16x16.png">

    <link rel="canonical" href="https://i18nally.org/" />

    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ site.data.index.hero.title }}" />
    <meta property="og:description" content="{{ site.data.index.hero.subtitle }}" />
    <meta property="og:image" content="https://i18nally.org/assets/i18n-ally-social-preview.png" />
    <meta property="og:url" content="https://i18nally.org/" />
    <meta property="og:site_name" content="i18n Ally" />

    <meta name="twitter:title" content="{{ site.data.index.hero.title }}">
    <meta name="twitter:description" content="{{ site.data.index.hero.subtitle }}">
    <meta name="twitter:image" content="https://i18nally.org/assets/i18n-ally-social-preview.png">
    <meta name="twitter:site" content="@lokalise">
    <meta name="twitter:creator" content="@lokalise">

    {% include third-party.html %}
  </head>
  <body>
    <div class="wrapper">

      {% include homepage/header.html logo_path=page.logo_path %}
      
      <main>
        {{ content }}
      </main>

      <footer class="footer">
        <span>{{site.data.index.maintained}}</span>
        <a href="https://lokalise.com/product/for-developers?utm_source=docs&utm_campaign=i18nally-jetbrains&utm_medium=footer">
          <img src="{{ site.baseurl }}/assets/lokalise_logo.svg" class="logo" alt="Loklaise logo" />
        </a>
      </footer>
    </div>

    <script src="{{ "/assets/js/main.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
