<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" href="{{ site.baseurl }}/{{ "assets/css/docs.css?v=" | append: site.github.build_revision }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ site.baseurl }}/assets/android-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ site.baseurl }}/assets/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/favicon-16x16.png">

    {% include third-party.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        {% if site.logo %}
          <a href="{{ "/" | relative_url}}">
            <img src="{{site.logo | relative_url}}" alt="Logo: {{ site.title | default: site.github.repository_name }}" />
          </a>
        {% else %}
          <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% include sidebar.html %}

        <footer>
          Maintained by
          <a href="https://lokalise.com/product/for-developers?utm_source=docs&utm_campaign=i18nally-jetbrains&utm_medium=footer">
            <img src="{{ site.baseurl }}/assets/lokalise_logo.svg" alt="Logo: {{ site.title | default: site.github.repository_name }}" style="width: 100%; height: auto;" />
          </a>
        </footer>
      </header>
      <section>
        {{ content }}
      </section>
    </div>

    <script src="{{ "/assets/js/main.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
