<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="robots" content="noindex, nofollow">

    <link rel="stylesheet" href="{{ site.baseurl }}/{{ "assets/css/about-embedded.css?v=" | append: site.github.build_revision }}">
    <script>
      //
      // Build a bridge with Intelij native code (should be calles as early as possible)
      //
      window.runEvent = function (event, url = '') {
        if (typeof window.runIntelijEvent === "function") { 
          window.runIntelijEvent(event, url);
        } else {
          console.log('runEvent (no Intelij bridge available)', event, url)
        }
      }

      window.addEventListener('DOMContentLoaded', function() {
        const links = document.querySelectorAll('a');
        for (let ii = 0; ii < links.length; ++ii) {
          links[ii].addEventListener('click', function (event) {
            event.preventDefault();

            if (links[ii].href && links[ii].href.length > 1) {
              window.runEvent('openLinkInExternalBrowser', links[ii].href);
            }

            return false;
          });
        }
      });

      //
      // Apply colors received from GET params
      //
      (function applyStylesFromParamaters() {
        const params = (new URL(document.location)).searchParams;
        const docStyle = document.documentElement.style;

        ['bg', 'text', 'link', 'btn'].forEach(function(paramName) {
          const paramValue = params.get(paramName);
          if (paramValue && paramValue.length == 6 && !isNaN(Number('0x' + paramValue))) {
            docStyle.setProperty(`--main-${paramName}-color`, '#' + params.get(paramName));
          }
        });

        const fontUI = params.get('fontUI');
        if (fontUI) {
          docStyle.setProperty('--main-fontui', `"${fontUI.replaceAll('"', '\'')}", -apple-system, system-ui, ui-sans-serif, sans-serif`);
        }
      })();

      //
      // Print parameters for reference
      //
      window.addEventListener('DOMContentLoaded', function() {
        const params = (new URL(document.location)).searchParams;
        if (params.get('env') == 'dev') {
          const preEl = document.createElement('pre');
          preEl.style.width = '100%';
          preEl.style.overflow = 'scroll';
          preEl.textContent = 'Debug ' + document.location.search + '\n' + JSON.stringify(Object.fromEntries(params), undefined, 4);
          document.body.appendChild(preEl);
        }
      });
    </script>
    <script src="https://embed.small.chat/T01QRMV2NR4C0228H4KW2K.js" async></script>
  </head>
  <body>
    <div class="wrapper">      
      <main>
        {{ content }}
      </main>
    </div>
  </body>
</html>
