<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="robots" content="noindex, nofollow">

    <link rel="stylesheet" href="{{ site.baseurl }}/{{ "assets/css/about-embedded.css?v=" | append: site.github.build_revision }}">
    <script>
      //
      // Apply styles from parameters
      //
      const params = (new URL(document.location)).searchParams;
      const docStyle = document.documentElement.style;

      ['bg', 'text', 'link', 'btn'].forEach(function(paramName) {
        const paramValue = params.get(paramName);
        if (paramValue && paramValue.length == 6 && !isNaN(Number('0x' + paramValue))) {
          docStyle.setProperty(`--main-${paramName}-color`, '#' + params.get(paramName));
        }
      });

      const fontUI = params.get('fontUI');
      if (fontUI) {
        docStyle.setProperty('--main-fontui', `"${fontUI.replaceAll('"', '\'')}", -apple-system, system-ui, ui-sans-serif, sans-serif`);
      }

      //
      // Ensure that all links would open in browser
      //
      window.addEventListener('DOMContentLoaded', function() {
        const links = document.querySelectorAll('a');
        for (let ii = 0; ii < links.length; ++ii) {
          links[ii].target = "_blank";
        }
      });

      //
      // Print parameters for reference
      //
      setTimeout(function() {
        const preEl = document.createElement('pre');
        preEl.textContent = 'Debug ' + JSON.stringify(Object.fromEntries(params), undefined, 4);
        document.body.appendChild(preEl)
      }, 50);
    </script>
    <script src="https://embed.small.chat/T01QRMV2NR4C0228H4KW2K.js" async></script>
  </head>
  <body>
    <div class="wrapper">      
      <main>
        {{ content }}
      </main>
    </div>
  </body>
</html>
