.features-title {
    @include block_title;
}

.features-subtitle {
    @include block_subtitle;
    margin-bottom: 2.61rem;
}

.feature-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -1.23rem;
}

.feature {
    flex: 1 0 265px;
    margin-bottom: 1.23rem;

    &:nth-child(odd) {
        margin-right: 1.23rem;
    }
}

.feature-img {
    height: 220px;
    width: 100%;
    margin-bottom: 0.61rem;
    background-color: #686763; /* as in illustrations background */
    background-size: auto 100%;
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    border-radius: 4px;
}

.feature-title {
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
}