.footer-links {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0px;
}

.footer-column__title {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 1.25rem;
}

.footer-link__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-link__item {
    padding-bottom: 1rem;
}

.footer-maintainer {
    margin-top: 3rem;
    margin-bottom: 5rem;
    text-align: center;
}

.footer-maintainer-logo {
    width: 132px;
    height: auto;
}
