.hero-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2.61rem;
}

.hero-logo {
    width: 108px;
    height: auto;
}

.hero-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.hero-link-item {
    margin-left: 0.61rem;
}

.hero-title {
    font-size: 1.61rem;
    line-height: 2.61rem;
    font-weight: normal;
    margin: 0;
}

.hero-tagline {
    margin: 0;
}
