.project-setup-title {
    @include block_title;
}

.project-setup-subtitle {
    @include block_subtitle;
    margin-bottom: 2.61rem;
}

.project-setup-tabs {
    display: flex;
    flex-flow: row nowrap;
}

.project-setup-tabs button {
    width: 33.33%;
    height: 42px;
    margin-bottom: 1.23rem;

    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;

    background-color: var(--main-bg-color);
    border: none;
    border-bottom: 4px solid var(--main-bg-color);
    border-radius: 0;

    &.project-setup-tab--active {
        border-bottom: 4px solid var(--main-btn-color);
    }

    &:hover:not(.project-setup-tab--active) {
        background-color: rgba(0, 0, 0, 0.16);
        border-bottom: 4px solid transparent;
    }
}


.project-setup-step--0-active > .step:nth-child(1) {
    display: block;
}
.project-setup-step--1-active > .step:nth-child(2) {
    display: block;
}
.project-setup-step--2-active > .step:nth-child(3) {
    display: block;
}

.step {
    display: none;
}

.step-subtitle {
    font-size: 1rem;
    font-weight: normal;
    margin: 0 0 1.23rem;
}

.step-video {
    width: 100%;
    height: auto;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
