.project-setup-title {
    @include block_title;
}

.project-setup-subtitle {
    @include block_subtitle;
    margin-bottom: 2.61rem;
}

.step {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2.61rem;

    &:last-child {
        margin-bottom: 0;
    }
}

.step-text {
    width: 30%;
}

.step-video {
    width: 67%;
    height: auto;
    border-radius: 4px;
}

.step-subtitle {
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
}

.step-title {
    color: var(--main-text-color);
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
}

.step-desc {
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
}
