.sandbox-cta-block {
    @include placeholder-bg;
    padding: 1.5rem 2rem 2rem;
    border-radius: 2px;
}

.sandbox-cta-subtitle {
    @include block_subtitle;
}

.sandbox-cta-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.sandbox-cta-title {
    max-width: 350px;
    width: 350px;
    @include block_title;
}

.sandbox-cta-btn {
    align-self: center;
    background-color: #2B7B50;
    color: #f1f1f1;
}