.sandbox-cta-block {
    @include placeholder-bg;
    padding: 2rem 3rem 3rem;
    border-radius: 2px;
}

.sandbox-cta-subtitle {
    @include block_subtitle;
}

.sandbox-cta-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.sandbox-cta-title {
    max-width: 361px;
    width: 361px;
    @include block_title;
}

.sandbox-cta-btn {
    align-self: center;
    padding: 1rem 2rem;
    font-weight: 600;
    background-color: #2B7B50;
    color: #f1f1f1;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}