.header {
  padding: 38px 20px;
}

.logo {
  position: relative;
  z-index: 10;

  width: 100%;
  max-width: 270px;
  height: auto;
}

.header .container {
  position: relative;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.header-navigation {
}

.header-navigation ul {
  display: flex;
  flex-flow: row nowrap;

  margin: 0;
  padding: 0;

  list-style: none;

  color: #e5e5e5;

  font-size: 15px;
  line-height: 18px;
}

.header-navigation ul li + li {
  margin-left: 50px;
}

.header-navigation a {
  text-decoration: none;

  color: #e5e5e5;
}

.header-navigation a:hover {
  color: #b9b546;
}

.mb-burger {
  display: none;
}

@media print, screen and (max-width: 960px) {
  .header {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    left: 0;

    padding: 20px 25px;

    background: #2b2b2b;
  }

  .logo {
    width: auto;
    height: 35px;
  }

  .header .container {
    display: block;
  }

  .header-navigation {
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    left: 100%;

    transition: all 0.2s linear;

    background: #2b2b2b;

    font-size: 20px;
    line-height: 40px;
  }

  .mb-open-nav .header-navigation {
    right: 0;
    left: 0;
  }

  .header-navigation {
    margin-top: 75px;

    border-top: 1px solid #909090;
  }

  .header-navigation ul {
    display: block;

    padding: 15px 25px;

    font-size: 20px;
    line-height: 40px;
  }

  .header-navigation ul li {
    padding: 8px 0 12px;
  }

  .header-navigation ul li + li {
    margin: 0;
  }

  .mb-burger {
    position: absolute;
    z-index: 999;
    top: -10px;
    right: -13px;

    display: block;

    width: 50px;
    height: 50px;
  }

  .mb-burger span {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 25px;
    height: 2px;
    margin: -1px 0 0 -13px;

    text-indent: -9999px;

    background-color: #fff;

    font-size: 0;
  }

  .mb-open-nav .mb-burger span {
    background-color: transparent;
  }

  .mb-burger span:after,
  .mb-burger span:before {
    position: absolute;
    top: -9px;
    left: 0;

    width: 25px;
    height: 2px;

    content: "";
    transition: transform 0.3s ease;

    background-color: #fff;
  }

  .mb-open-nav .mb-burger span:before {
    top: 0;

    transform: rotate(45deg);

    background-color: #fff;
  }

  .mb-open-nav .mb-burger span:after {
    top: 0;

    transform: rotate(-45deg);

    background-color: #fff;
  }
  .mb-burger span:after {
    top: 9px;
  }
}
