.plugins {
  padding: 117px 0 120px;
}

.plugins-columns {
  display: flex;
  flex-flow: row wrap;
}

.plugins-item {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
}

.plugins .headline {
  margin-bottom: 83px;
}

.plugins-item:nth-child(even) {
  flex-flow: row-reverse nowrap;
}

.plugins-item__image {
  width: 48.8372093023%;

  background-color: #59584a;
}

.plugins-item__image img {
  max-width: 100%;
  display: block;
}

.plugins-item__title {
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
}

.plugins-item__text {
  width: 51.1627906977%;
  margin: 0;

  font-size: 20px;
  line-height: 30px;
}

.plugins-item__text p {
  margin: 0;

  color: #bebebe;
}

.plugins-item .subheadline {
  margin-bottom: 30px;
}

.plugins-item + .plugins-item {
  margin-top: 130px;
}

.plugins-item:nth-child(even) .plugins-item__text {
  padding-right: 140px;
}

.plugins-item:nth-child(odd) .plugins-item__text {
  padding-left: 140px;
}

@media print, screen and (max-width: 960px) {
  .plugins {
    padding-top: 57px;
    padding-bottom: 60px;
  }

  .plugins .headline {
    margin-bottom: 38px;
  }

  .plugins-item,
  .plugins-item:nth-child(even) {
    flex-flow: column-reverse nowrap;
  }

  .plugins-item + .plugins-item {
    margin-top: 46px;
  }

  .plugins-item__image,
  .plugins-item__text {
    width: 100%;
  }

  .plugins-item__text {
    margin-bottom: 25px;

    text-align: center;

    font-size: 15px;
    line-height: 20px;
  }

  .plugins-item .subheadline {
    margin-bottom: 8px;

    font-size: 15px;
    line-height: 30px;
  }

  .plugins-item:nth-child(even) .plugins-item__text,
  .plugins-item:nth-child(odd) .plugins-item__text {
    padding-right: 0;
    padding-left: 0;
  }
}
